<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915924439586-arslmdvjq9033o548p97m43l6961kh4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915924439586-arslmdvjq9033o548p97m43l6961kh4v</string>
	<key>API_KEY</key>
	<string>AIzaSyD_49sEyMDzUuKaGfVzwGHsaU5omiZcLhI</string>
	<key>GCM_SENDER_ID</key>
	<string>915924439586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RNFlyBoilerplate</string>
	<key>PROJECT_ID</key>
	<string>rnflyboilerplate</string>
	<key>STORAGE_BUCKET</key>
	<string>rnflyboilerplate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915924439586:ios:86a75cdc33dec0ea68b07b</string>
	<key>DATABASE_URL</key>
	<string>https://rnflyboilerplate.firebaseio.com</string>
</dict>
</plist>